<div class="container">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Ramesh Alluri</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Products</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact Us </a></li>
				</ul>
			</div>
		</div>
	</nav>
  	<div class="row white-text" >
  <app-login></app-login>
  	</div>

	</div>